<div class="unitlist">
    <div class="space"></div>
    <div class="container">
        <div class="top-row">
            <h2>My Units</h2>
            <button class="kiwi" mat-button routerLink="/newUnit">
                <mat-icon>add</mat-icon> Add unit
            </button>
        </div>
        <div class="units">
            <div class="unit" *ngFor="let unit of units">
                <div class="left-column">
                    <h4 [routerLink]="['/unitView', unit._id ]">{{unit.unitname}}</h4>
                    <div class="unit-info">
                        <p>Number of words: {{unit.words.length}}</p>
                        <p>Language: {{unit.language}}</p>
                    </div>
                </div>
                <div class="right-column">
                    <div class="study-buttons">
                        <button mat-raised-button class="kiwi margin5" color="primary" routerLink="/studyZone">Study this unit</button>
                        <button mat-raised-button class="kiwi margin5" color="primary">Fast test</button>
                    </div>
                    <div class="setting-button">
                        <div class="space"></div>
                        <button mat-icon-button [matMenuTriggerFor]="unitMenu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #unitMenu="matMenu">
                            <button mat-menu-item routerLink="/newUnit">
                                <mat-icon>edit</mat-icon>
                                <span>Edit unit</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Delete unit</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>