<div class="unitcreation">
  <div class="space"></div>
  <div class="container">
    <form [formGroup]="unitForm" #resetUnitForm="ngForm" (ngSubmit)="addUnit()" novalidate>
      <mat-card>
        <div class="controlers-wrapper">
          <div class="unitdata">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Unit's name" formControlName="unitname" minlength="3" required />
              <mat-error *ngIf="handleError('unitname', 'required')">
                You must write a <strong>name</strong>
              </mat-error>
              <mat-error *ngIf="handleError('unitname', 'minlength')">
                It must contain at least <strong>3 characters</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Language</mat-label>
              <mat-select name="language" ngModel required disableOptionCentering>
                <mat-option *ngFor="let language of userLang" [value]="language">{{ language }}</mat-option>
              </mat-select>
              <mat-error *ngIf="handleError('language', 'required')">
                You must choose <strong>a language</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field class="example-full-width">
            <input #front matInput placeholder="Front" formControlName="front" required />
            <mat-error *ngIf="handleError('front', 'required')">
              You must write a <strong>front</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input #back matInput placeholder="Back" formControlName="back" required />
            <mat-error *ngIf="handleError('back', 'required')">
              You must write a <strong>back</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea #hint matInput placeholder="Hint" formControlName="hint"></textarea>
          </mat-form-field>
        </div>
        <div class="full-wrapper button-wrapper">
          <div class="example-button-row">
            <button type="submit" mat-raised-button color="accent">
              Save unit
            </button>
            <button type="button" mat-raised-button color="accent"
              (click)="addWord(front.value, back.value, hint.value)">
              Save word
            </button>
          </div>
        </div>
      </mat-card>
    </form>
    <p *ngIf="words.length <= 0" class="no-data">
      - There are no words still -
    </p>

    <div class="container" *ngIf="words.length > 0">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="front">
            <th mat-header-cell *matHeaderCellDef> Front </th>
            <td mat-cell *matCellDef="let element"> {{element.front}} </td>
          </ng-container>

          <ng-container matColumnDef="back">
            <th mat-header-cell *matHeaderCellDef> Back </th>
            <td mat-cell *matCellDef="let element"> {{element.back}} </td>
          </ng-container>

          <ng-container matColumnDef="hint">
            <th mat-header-cell *matHeaderCellDef> Hint </th>
            <td mat-cell *matCellDef="let element"> {{element.hint}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element; let i = index;">
              <button mat-raised-button color="accent" (click)="deleteWord(i, element)">
                <mat-icon aria-hidden="false" aria-label="delete-icon">delete</mat-icon> Delete
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="space"></div>
</div>