<div class="unitcreation">
    <div class="space"></div>
    <div class="container">
        <form #unitForm="ngForm" (ngSubmit)="addUnit(unitForm)">
            <!--Aquí meter el form para la unidad en sí-->
            <app-adding-word></app-adding-word>
            <p>pruebita</p>
            <!--Aquí meter el botón que lo lleve todo a la bbdd-->
            <button mat-raised-button color="accent" class="kiwi">
                Save unit
            </button>
        </form>
    </div>
    <div class="space"></div>
</div>