<div class="front-unlogged">
    <div class="row">
        <div class="leftinfo relative square topsquare">
            <div class="info">
                <h3>What's STOODY</h3>
                <p>Stoody is a web app that will help you with your language studying. 
                    You can create your own units and study them using the Study Zone, based on the
                    <strong>spaced repetition</strong> method.</p>
            </div>
        </div>
        <div class="worldimage">
            <img class="worldimage" src="../../assets/pngwing.com.png" alt="worldimage">
        </div>
    </div>

    <div class="row">
        <div class="container">
            <h3> Our languages:</h3>
            <div class="flagsavailable">
                <div class="flag-row">
                    <img class="flag" src="../../assets/AL.bmp" alt="">
                    <img class="flag" src="../../assets/CN.bmp" alt="">
                    <img class="flag" src="../../assets/DE.bmp" alt="">
                    <img class="flag" src="../../assets/ES.bmp" alt="">
                    <img class="flag" src="../../assets/JP.bmp" alt="">
                </div>
                <div class="flag-row">
                    <img class="flag" src="../../assets/KR.bmp" alt="">
                    <img class="flag" src="../../assets/PT.bmp" alt="">
                    <img class="flag" src="../../assets/RU.bmp" alt="">
                    <img class="flag" src="../../assets/UK.bmp" alt="">
                </div>
            </div>
        </div>

        <div class="rightinfo relative square bottomsquare">
            <div class="info">
                <h3>What's "spaced repetition" method</h3>
                <p>It is a learning technique that consists of learning a certain amount of information 
                    by allowing longer and longer periods of time between one training session and the next one. 
                    It's one of the most recommended to study a language because it improves your long term memory. </p>
            </div>
        </div>
    </div>
</div>