<div class="front-unlogged">
    <div class="row">
        <div class="leftinfo relative">
            <div class="topsquare">
                info1
            </div>
        </div>
        <div class="container">
            <h3> Our languages:</h3>
            <div class="flagsavailable">
                <img class="flag" src="../../assets/AL.bmp" alt="">
                <img class="flag" src="../../assets/CN.bmp" alt="">
                <img class="flag" src="../../assets/DE.bmp" alt="">
                <img class="flag" src="../../assets/ES.bmp" alt="">
                <img class="flag" src="../../assets/JP.bmp" alt="">
                <img class="flag" src="../../assets/KR.bmp" alt="">
                <img class="flag" src="../../assets/PT.bmp" alt="">
                <img class="flag" src="../../assets/RU.bmp" alt="">
                <img class="flag" src="../../assets/UK.bmp" alt="">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="worldimage">
            <img class="worldimage" src="../../assets/pngwing.com.png" alt="worldimage">
        </div>
        <div class="rightinfo relative">
            <div class="topsquare">
                info2
            </div>
        </div>
    </div>
</div>