<div class="login">
    <div class="space"></div>
    <div class="container">
        <h3 class="kiwi center">Log In</h3>
        <form class="fillform">
            <mat-label class="margin kiwi">
                <mat-icon inline=true>email</mat-icon> Email
            </mat-label>
            <mat-form-field appearance="fill">
                <input matInput name="email" ngModel required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-label class="margin kiwi">
                <mat-icon inline=true>password</mat-icon> Password
            </mat-label>
            <mat-form-field appearance="fill">
                <input matInput [type]="hide ? 'password' : 'text'" name="passwd" ngModel required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="button-zone">
                <div class="space"></div>
                <button mat-raised-button color="accent" class="kiwi">
                    Login
                </button>
            </div>
        </form>
    </div>
    <div class="space"></div>
</div>