<div class="space"></div>
<div class="container">
    <div class="front-and-hint">

    </div>
    <div class="hint-done-buttons">

    </div>
    <p class="back">
        <!--ngIf done-->
    </p>
    <div class="feedback-buttons">
        <button mat-raised-button color="accent" class="kiwi">Good</button>
        <button mat-raised-button color="accent" class="kiwi">Sort of</button>
        <button mat-raised-button color="accent" class="kiwi">Bad</button>
    </div>
</div>
<div class="space"></div>