<div class="studyzone">
    <div class="space"></div>
    <div class="container">
        <div class="front-and-hint">
            <p>{{frontWord}}</p>
        </div>
        <div class="hint-done-buttons">
            <div class="buttons">
                <button mat-raised-button color="accent" class="kiwi" (click)="showHint()">Hint</button>
                <button mat-raised-button color="accent" class="kiwi" (click)="showBack()">Got it!</button>
            </div>
            <p *ngIf="hint" class="kiwi"> {{hintSentence}} </p>
        </div>
        <div class="back" *ngIf="back">
            <p class="kiwi"> {{backWord}} </p>
            <div class="feedback-buttons">
                <button mat-raised-button color="accent" (click)="goodFeedback()" matTooltip="The word will be shown again after 3 study sessions"
                    class="kiwi">Good</button>
                <button mat-raised-button color="accent" (click)="sortOfFeedback()" matTooltip="The word will be shown again after 2 study sessions"
                    class="kiwi">Sort of</button>
                <button mat-raised-button color="accent" (click)="badFeedback()" matTooltip="The word will be shown in the next study session"
                    class="kiwi">Bad</button>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>