@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

.kiwi {
    font-family: 'Kiwi Maru', serif;
}

.center{
    text-align: center;
}

.signup{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.space {
    flex: 3 1 auto;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #EFEFEF;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 15px;
    align-items: baseline;
}

.flexForm{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 15px;
    align-items: baseline;
}

.formData {
    display:flex;
    flex-direction: column;
}

.fillform{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch flex-start;
}

.button-zone{
    display:flex;
}

mat-divider{
    margin-bottom: 15px;
}

#mothert{
    margin-bottom: 30px;
}

mat-hint{
    text-align: center;
    font-size: 18px;
}

label{
    text-align: right;
}

.textform{
    width: 350px;
}